<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="/view/style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <div class="center-div">
        <div class="inner-div">
            <h2 class="center-val">Delete All Data:</h2>

            <span>---- It May Delete All the Datas in the Database ! ----</span>

            <form action="/admin" method="post"><br>
                <div class="submit">
                    <input type="submit" value="Delete All">
                </div>
            </form>
        </div>
        <script src="script.js"></script>
</body>

</html>