<!-- CONTAINER  -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test-1 Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="style.css" rel="Stylesheet">
</head>

<body>
    <h1>Hello World !!</h1>
    <!-- <div class="container-md"> -->
    <div class="container-fluid">
        <!-- <div> -->
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus neque soluta exercitationem minus,
            commodi maxime? Excepturi repudiandae ea obcaecati rem laborum tempore enim, perspiciatis, itaque
            praesentium sunt velit eveniet aliquid.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus optio laboriosam odit libero dolor
            temporibus unde possimus eligendi excepturi sapiente, cupiditate dolore? Dolorem ut aut, quis omnis facilis
            delectus nam.
        </p>
        <!-- BOX -->
        <div class="row">
            <div class="col-auto">
                <div class="box">
                    TEXT
                </div>
            </div>
            <div class="col-sm-2 col-lg-6 col-xxg-10 col-5">
                <div class="box">
                </div>
            </div>

            <div class="col-2 col-md-4 col-xg-8">
                <div class="box">
                </div>
            </div>

            <div class="col-4 offset-lg-3">
                <div class="box">
                </div>
            </div>

            <div class="col-4" <div class="box">
            </div>
        </div>

        <!-- BOX-1 -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 gy-sm-2 gy-xl-4 gy-1">
            <div class="col">
                <div class="box-1"></div>
            </div>
            <div class="col">
                <div class="box-1"></div>
            </div>
            <div class="col">
                <!--row-cols-xl-1-->
                <div class="row">
                    <div class="col">
                        <div class="box-1"></div>
                    </div>
                    <div class="col">
                        <div class="box-1"></div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="box-1"></div>
            </div>

            <div class="col">
                <div class="box-1"></div>
            </div>
            <div class="col">
                <div class="box-1"></div>
            </div>
            <div class="col">
                <div class="box-1"></div>
            </div>
            <div class="col">
                <div class="box-1"></div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>

</html>