<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <h1>
        Create :
    </h1><br><br><br>
    <form action="/insert" method="post">
        <lable>Name :</lable>
        <input type="text" name="name" placeholder="ex : Harish" class="name"> <br><br>
        <lable>RegNum :</lable>
        <input type="text" name="regNum" placeholder="ex : 2013032" class="regNum"><br><br>
        <lable>Phone-Number :</lable>
        <input type="number" name="phoneNum" placeholder="ex : 93453......" class="phoneNum"><br><br><br>
        <input type="submit" value="submit">
    </form>

    <script src="script.js"></script>
</body>

</html>