<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <h1>
        Delete :
    </h1><br><br>
    <form action="delete" method="post">
        <lable>Regester Number</lable>
        <input type="number" name="stdRegNum" placeholder="ex:2013032">
        <br><br>
        <input type="submit" value="submit">
    </form>

    <script src="script.js"></script>
</body>

</html>