<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        Welcome to Home page !
    </h1>

    <a href="create.html">
        <input type="button" value="Create ->">
    </a>
    <br>
    <a href="read.html">
        <input type="button" value="Read ->">
    </a><br>
    <a href="update.html">
        <input type="button" value="Update ->">
    </a><br>
    <a href="delete.html">
        <input type="button" value="Delete ->">
        <br>
        <a href="admin.html">
            <input type="button" value=Admin></a>
    </a>
    <script src="script.js"></script>
</body>
<script src="script.js"></script>

</html>