<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="/view/style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        Welcome to Home page !
    </h1>
    <div class="center-div">
        <div class="inner-div">
            <h2>To Create</h2>
            <div class="center-val">
                <a href="create.html">
                    <input type="button" value="Create ->">
                </a>
            </div>
        </div>

        <div class="inner-div">
            <h2>To Read</h2>
            <div class="center-val">
                <a href="read.html">
                    <input type="button" value="Read ->">
                </a>
            </div>
        </div>

        <div class="inner-div">
            <h2>To Update</h2>
            <div class="center-val">
                <a href="update.html">
                    <input type="button" value="Update ->">
                </a>
            </div>
        </div>

        <div class="inner-div">
            <h2>To Delete</h2>
            <div class="center-val">
                <a href="delete.html">
                    <input type="button" value="Delete ->"></a>
            </div>
        </div>
        <div class="inner-div">
            <h2>ADMIN</h2>
            <div class="center-val">
                <a href="admin.html">
                    <input type="button" value=Admin></a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
<script src="script.js"></script>

</html>