<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="/view/style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <h1>
        Read :
    </h1><br><br><br>
    <!-- <h1>
        <%= title %>
    </h1>

    <% if(action=="add" ) {%>
        <%}else{%>
            <% } <table> -->
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <td>
            <%= result.stdName%>
        </td>
        <td></td>
        <td></td>
    </tr>
    </table>
    <script src="script.js"></script>
</body>

</html>