<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <h1>
        Read :
    </h1>

    <h2>Name : <%=name[1].stdName%>
    </h2>
    <h2>RegNum : <%=name[1].stdRegNum%>
    </h2>
    <p>hi iam </p>
    <br><br><br>

    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
    </table>
    <script src="script.js"></script>
</body>

</html>