<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <h1>
        Update :
    </h1><br><br><br>

    <h3>What You want to Update</h3>
    <a href="updateName.html">
        <input type="button" value="Name">
    </a><br><br>
    <p>or</p><br>
    <a href="updatePhone.html">
        <input type="button" value="Phone Number">
    </a>
    <!-- <form action="/update" method="post">
        <lable>RegNum :</lable>
        <input type="text" name="regNum" placeholder="ex : 2013032" class="regNum"><br><br>

        <lable>Name :</lable>
        <input type="text" name="name" placeholder="ex : Harish" class="name"> <br><br>
        <input type="submit" value="submit">
    </form> -->
</body>

</html>