<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="/view/style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>

    <br>
    <div class="center-div">
        <div class="inner-div">
            <h2 class="center-val">Update :</h2>
            <h3>What You want to Update</h3>
            <div class="make-val">
                <a href="updateName.html">
                    <input type="button" value="Name">
                </a><br>
                <p>or</p>
                <a href="updatePhone.html">
                    <input type="button" value="Phone Number">
                </a>
            </div>
        </div>
        <!-- <form action="/update" method="post">
        <lable>RegNum :</lable>
        <input type="text" name="regNum" placeholder="ex : 2013032" class="regNum"><br><br>

        <lable>Name :</lable>
        <input type="text" name="name" placeholder="ex : Harish" class="name"> <br><br>
        <input type="submit" value="submit">
    </form> -->
</body>

</html>