<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1>
    <div class="center-div">
        <div class="inner-div">
            <h2 class="center-val">Update Student Name :</h2>
            <form action="/updateName" method="post">
                <lable>Regester Number</lable>
                <input type="number" name="regNum" placeholder="ex:2013032"><br><br>

                <lable>New Name</lable>
                <input type="name" name="name" placeholder="ex:Harish"><br><br>
                <div class="submit">
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>