<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="/view/style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1><br>
    <div class="center-div">
        <div class="inner-div">
            <h2 class="center-val">Update Phone Number :</h2>
            <h1></h1>

            <form action="updatePhone" method="post">
                <lable>Regester Number :</lable>
                <input type="number" name="regNum" placeholder="ex:2013032"><br><br>

                <lable>New Phone Number :</lable>
                <input type="number" name="phoneNum" placeholder="ex:9876543210"><br><br>
                <div class="submit">
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>