<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    <link href="style.css" rel="StyleSheet">
</head>

<body>
    <h1 class="crud">
        C-R-U-D
    </h1><br>
    <h1>Update Student Name :</h1>
    <form action="/updateName" method="post">
        <lable>Regester Number</lable>
        <input type="number" name="regNum" placeholder="ex:2013032"><br><br>

        <lable>New Name</lable>
        <input type="name" name="name" placeholder="ex:Harish"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>